<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dart.carrentalplatform.mapper.CarMapper">

    <select id="getAllCars" resultType="com.dart.carrentalplatform.entity.Car">
        SELECT *
        FROM cars;
    </select>
    <update id="updateCar" parameterType="com.dart.carrentalplatform.entity.Car">
        UPDATE cars
        SET
        brand = #{brand},
        model = #{model},
        color = #{color},
        price = #{price},
        status = #{status}
        WHERE id = #{id};
    </update>
    <insert id="addCar" parameterType="com.dart.carrentalplatform.entity.Car">
        INSERT INTO cars (id, brand, model, color, price, status)
        VALUES (#{id}, #{brand}, #{model}, #{color}, #{price}, #{status});
    </insert>
    <delete id="deleteCar" parameterType="com.dart.carrentalplatform.entity.Car">
        DELETE FROM cars
        WHERE id = #{id};
    </delete>
    <select id="searchCars" resultType="com.dart.carrentalplatform.entity.Car">
        SELECT *
        FROM cars
        WHERE id = #{id};
    </select>
</mapper>