<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dart.carrentalplatform.mapper.CustomerMapper">

    <select id="getAllCustomers" resultType="com.dart.carrentalplatform.entity.Customer">
        SELECT *
        FROM customers;
    </select>
    <update id="updateCustomer" parameterType="com.dart.carrentalplatform.entity.Customer">
        UPDATE customers
        SET
        name = #{name},
        phone = #{phone},
        card = #{card}
        WHERE customer_id = #{id};
    </update>
    <insert id="addCustomer" parameterType="com.dart.carrentalplatform.entity.Customer">
        INSERT INTO customers (customer_id, name, phone, card)
        VALUES (#{id}, #{name}, #{phone}, #{card});
    </insert>
    <delete id="deleteCustomer" parameterType="com.dart.carrentalplatform.entity.Customer">
        DELETE FROM customers
        WHERE id = #{id};
    </delete>
    <select id="getCustomerById" resultType="com.dart.carrentalplatform.entity.Customer">
        SELECT *
        FROM customers
        WHERE id = #{id};
    </select>

</mapper>